.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    position: relative;
    padding: 50px;
}

.photograph_header .contact_button {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 85px);
}

.photograph_header article {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.photograph_header article img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.photograph_header h1 {
    color: #D3573C;
    font-size: 60px;
    margin-bottom: 5px;
}

.photograph_header address {
    font-style: normal;
    font-size: 22px;
    margin-bottom: 15px;
}

.photograph_header p {
    color: #757575;
    font-size: 18px;
}

.photograph_body {
    margin: 0 100px;
    padding: 10px 0;
}

.photograph_medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 100px;
    margin: 50px 0;
}

.photograph_medias img,
.photograph_medias video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photograph_body .photographer_info {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.photograph_body .photographer_info p {
    color: #901C1C;
    font-size: 22px;
}

.photographer_likes {
    display: flex;
    gap: 5px;
}

.photographer_likes button img {
    width: 20px;
    height: 20px;
}

.photographer_likes span {
    font-size: 20px;
    color: #901C1C;
}

.photographer_likes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.photograph_infos {
    position: fixed;
    bottom: 0;
    right: 30px;
    background-color: #DB8876;
    min-width: 275px;
    height: 60px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px 5px 0 0;
}

.photograph_infos > span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}

.contact_button:focus,
.contact_button:hover {
    color: black;
    background-color: #D3573C;
}

.modal_container {
    position: fixed;
    inset: 0;
    z-index: 99;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: transform .3s, opacity .3s;
}

body.modal_open .modal_container[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
}

.modal_container[aria-hidden="false"] {
    background-color: rgba(229, 228, 227, 0.8);
}

/* Empêcher le scroll du body quand la modal est ouverte */
body.modal_open {
    overflow: hidden;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 610px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    margin: auto;
    min-height: fit-content;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
    box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}

.modal header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
}
