#contact_modal {
    display: none;
}

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    position: relative;
    padding: 50px;
}

.photograph_header .contact_button {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 85px);
}

.photograph_header article {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.photograph_header article img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.photograph_header h1 {
    color: #D3573C;
    font-size: 60px;
    margin-bottom: 5px;
}

.photograph_header address {
    font-style: normal;
    font-size: 22px;
    margin-bottom: 15px;
}

.photograph_header p {
    color: #757575;
    font-size: 18px;
}

.photograph_body {
    margin: 0 100px;
    padding: 10px 0;
}

.photograph_medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 100px;
    margin: 50px 0;
}

.photograph_medias img,
.photograph_medias video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.filter {
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.filter_label {
    color: black;
    font-weight: bold;
}

.filter_container {
    position: relative;
    width: 170px;
}

.filter_trigger,
.filter_options li {
    width: 100%;
    height: 55px;
    background-color: #901C1C;
    color: white;
    padding: 10px 13px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.filter_trigger {
    height: 70px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    appearance: none;
    border: none;
    border-radius: 5px;
}

.filter_trigger span {
   transform: translateY(2px);
}

/* Flèche personnalisée */
.filter_trigger::after {
    content: "";
    width: 15px;
    height: 15px;
    background: url("/assets/icons/arrow-down.svg") no-repeat center/contain;
}
.filter_trigger[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.filter_trigger:focus {
    border-radius: 5px 5px 0 0;
}

.filter_options {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

.filter_options li {
    position: relative;
    display: flex;
    align-items: center;
}

.filter_options li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    right: 7px;
    display: block;
    height: 1px;
    background-color: white;
}

.filter_options li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.filter_options li[aria-selected="true"] {
    display: none;
}

.photograph_body .photographer_info {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.photograph_body .photographer_info p {
    color: #901C1C;
    font-size: 22px;
}

.photographer_likes {
    display: flex;
    gap: 5px;
}

.photographer_likes button img {
    width: 20px;
    height: 20px;
}

.photographer_likes span {
    font-size: 20px;
    color: #901C1C;
}

.photographer_likes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}

.contact_button:focus,
.contact_button:hover {
    color: black;
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
