* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

.photographer_section .photographer {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.photographer_section .photographer h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section .photographer img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.photographer_section .photographer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.photographer_section .photographer_info address {
    font-style: normal;
}

.photographer_section .photographer_info small {
    color: #757575;
}

.photographer_section a {
    text-decoration: none;
    color: inherit;
}
